.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.container-fluid {
  height: 120px;
  background-image: url("header3.webp");
  background-size: cover;
  background-position: center;
  color: rgb(13, 65, 120);
  opacity: 0.9;
}

.title {
  text-align: center;
  opacity: 0.9;
  padding: 10px;
}

.logo {
  width: 90px;
  margin: 10px;
  border-radius: 30px;
  opacity: 0.75;
}
.nav-link {
  color: rgb(56, 83, 92);
}

.dropdown-menu {
  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
}

#navbarSupportedContent{
  margin-left: 80px;
}

.logo{
  width: 50px;
}
