
<h1> User Profile </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2>My Boats</h2>
      <ul class="list-group mb-3">
        <% @boats.each do |boat| %>
          <li class="list-group-item">
            <%= link_to boat.name, boat_path(boat) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new Boat Listing", new_boat_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<%= link_to "Edit you profile", edit_user_registration_path(current_user) %>
