
<h1> User Profile </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2>My Boats</h2>
      <div>
        <% @boats.each do |boat| %>
            <%= link_to boat.name, boat_path(boat) %>
              <%= link_to boat_path(boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash-can"></i>
                <% end %>
          </div>
        <% end %>
      </ul>
      <%= link_to "Add a new Boat Listing", new_boat_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<%= link_to "Edit you profile", edit_user_registration_path(current_user) %>

